{% load static %}
<html>
<head>
    <title>Without a Hitch</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static '/css/bootstrap/css/bootstrap.min.css' %}">
    <style></style>
    {% block head_block %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header" item-height="100%"></div>
        <ul class="nav navbar-nav">
            <li id="home"><a href="{% url 'withoutahitch:index' %}">Home</a></li>
            <li id="about"><a href="{% url 'withoutahitch:about' %}">About</a></li>
            <li id="own"><a href="{% url 'withoutahitch:pick_your_own' %}">Plan an Event</a></li>
            <li id="package"><a href="{% url 'withoutahitch:pick_package' %}">Pick from a package!</a></li>
        </ul>
        {% if request.session.username %}
            <!--
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown-toggle">
                <a href="#" class="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ request.session.username }}
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="dropdown">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">My Events</a></li>
                    <li><a href="{% url 'withoutahitch:logging_out' %}">Logout</a></li>
                </ul>
            </li>
            </ul>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ request.session.username }}</a> </li>
                <li><a href="#">Account</a></li>
                <li><a href="#">My Events</a></li>
                <li><a href="{% url 'withoutahitch:logging_out' %}">Logout</a></li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li id="login"><a href="{% url 'withoutahitch:login_page' %}">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li id="register"><a href="{% url 'withoutahitch:register_page' %}">
                    <span class="glyphicon glyphicon-user"></span> Register</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
{% block body_block %}

{% endblock %}
<script type="text/javascript" src="{% static '/css/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>