{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css'>
    <link rel='stylesheet prefetch' href='https://dominicberlin.com/libs/semantic/packaged/css/semantic.min.css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
</head>

<body>

<div class="header" id="header">
    <ul class="menu">
        <li>
            <a href="about.html">about</a>
        </li>
        <li>
            <a href="register.html">register</a>
        </li>
    </ul>
</div>

<div class="container">
    <div class="logo">
        <p class="first">WITHOUT A H</p>
        <p class="last">ITCH</p>
    </div>
    <div class="buttonContainer">
        <a class="button" href="plan.html" title="Plan">Plan Your Event!</a>
    </div>
</div>

<div class="container1">
    <section>
        <div class="image" data-type="background" data-speed="2"></div>
        <div class="stuff" data-type="content">
            <h1>You Imagine It</h1>
            <h2>We Create It</h2>
        </div>
    </section>

    <section>
        <div class="image" data-type="background" data-speed="7"></div>
        <div class="stuff" data-type="content">
            <h2>Corporate Events & Conferences</h2>
            <p>Turning your visions into Reality!</p>
        </div>
    </section>

    <section>
        <div class="image" data-type="background" data-speed="6"></div>
        <div class="stuff" data-type="content">Innovative Ideas--Latest Technologies--Great Network</div>
    </section>

    <section>
        <div class="image" data-type="background" data-speed="5"></div>
        <div class="stuff" data-type="content">
            <h2>Wedding Events</h2>
            <p>For a memorable experience on your special day</p>
        </div>
    </section>

    <section>
        <div class="image" data-type="background" data-speed="3"></div>
        <div class="stuff" data-type="content">Accusamus at ex amet perferendis atque fuga, ad earum, ipsa perspiciatis,
            dolore neque, accusantium consectetur quis
            voluptatibus culpa architecto animi natus facere expedita sed. Voluptatem odit explicabo amet neque aut.
        </div>
    </section>

    <section>
        <div class="image" data-type="background" data-speed="3"></div>
        <div class="stuff" data-type="content">Accusamus at ex amet perferendis atque fuga, ad earum, ipsa perspiciatis,
            dolore neque, accusantium consectetur quis
            voluptatibus culpa architecto animi natus facere expedita sed. Voluptatem odit explicabo amet neque aut.
        </div>
    </section>
</div>
<script src="https://cdnjs.com/libraries/modernizr" type="text/javascript"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="{% static '/js/index.js' %}"></script>
<script src="{% static '/js/index1.js' %}"></script>

</body>

</html>